.text-loading {
  border-radius: 20px;
  min-width: var(--min-width);
  width: var(--width);
  height: var(--height);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 0%, #ddddddd1 18%, #eeeeee 67%);
  background-size: 2000px;
  position: relative;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
