@mixin app-page-default-style {
  width: 100%;
  margin-top: 60px;
  color: whitesmoke;
  padding: 30px;
  h2 {
    font-size: 50px;
    border-bottom: 2px ridge #ffffff;
    padding-bottom: 10px;
  }
}

@mixin link {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}
